body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;

  /* background: rebeccapurple; */
  color: white;
  font-family: Helvetica;
  font-weight: 500;
}

.navbar__title {
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  padding: 12px 40px;
  color: black;
}

.navbar__item {
  padding: 16px 30px;
  cursor: pointer;
  color: black;
  vertical-align: middle;
}
